<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :menu_item %>
    <%= f.association :restaurant %>
    <%= f.input :street_address %>
    <%= f.input :street_address_2 %>
    <%= f.input :street_address_2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
