<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Menu item</th>
      <th>Restaurant</th>
      <th>Street address</th>
      <th>Street address 2</th>
      <th>Street address 2</th>
      <th>City</th>
      <th>State</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.menu_item %></td>
        <td><%= order.restaurant %></td>
        <td><%= order.street_address %></td>
        <td><%= order.street_address_2 %></td>
        <td><%= order.street_address_2 %></td>
        <td><%= order.city %></td>
        <td><%= order.state %></td>
        <td><%= order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
